@use "../base/variables";

.btn {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-weight: 700;
  font-family: variables.$font-display;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: variables.$transition-smooth;
  font-size: 1.4rem;

  &--primary {
    background-color: variables.$color-accent;
    color: variables.$color-black;
    border: 2px solid variables.$color-accent;

    &:hover {
      background-color: transparent;
      color: variables.$color-accent;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(variables.$color-accent, 0.2);
    }
  }

  &--outline {
    background-color: transparent;
    color: variables.$color-white;
    border: 2px solid variables.$color-white;

    &:hover {
      background-color: variables.$color-white;
      color: variables.$color-black;
      transform: translateY(-3px);
    }
  }
}
