@import "../base/variables";

.btn {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-weight: 700;
  font-family: $font-display;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: $transition-smooth;
  font-size: 1.4rem;

  &--primary {
    background-color: $color-accent;
    color: $color-black;
    border: 2px solid $color-accent;

    &:hover {
      background-color: transparent;
      color: $color-accent;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba($color-accent, 0.2);
    }
  }

  &--outline {
    background-color: transparent;
    color: $color-white;
    border: 2px solid $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-black;
      transform: translateY(-3px);
    }
  }
}
