@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // 10px
}

body {
  background-color: variables.$color-black;
  color: variables.$color-white;
  font-family: variables.$font-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;

  &.preload {
    &, *, &::before, &::after, *::before, *::after {
      transition: none !important;
      animation: none !important;
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: variables.$transition-smooth;
}
