@use "variables";

.section {
  padding: 15rem 0;

  @media (max-width: 968px) {
    padding: 8rem 0;
  }

  &__title {
    font-family: variables.$font-display;
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 8rem;
    position: relative;
    display: inline-block;

    @media (max-width: 968px) {
      font-size: 3.5rem;
      margin-bottom: 5rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 50%;
      height: 0.4rem;
      background-color: variables.$color-accent;
    }
  }
}
