@use "../base/variables";

.about {
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10rem;

    @media (max-width: 968px) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  &__text {
    p {
      font-size: 2.2rem;
      margin-bottom: 3rem;
      color: #ccc;

      &:first-child {
        font-size: 2.8rem;
        line-height: 1.4;

        @media (max-width: 968px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;

    @media (max-width: 968px) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 5rem;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 3rem;
    }
  }
}

.stat {
  display: flex;
  flex-direction: column;

  &__number {
    font-family: variables.$font-display;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    color: variables.$color-accent;
  }

  &__label {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: variables.$color-light-grey;
  }
}
