// --- Base ---
@use "base/variables";
@use "base/base";
@use "base/sections";

// --- Utilities ---
@use "utils/utilities";

// --- Components ---
@use "components/buttons";

// --- Layout ---
@use "layout/container";
@use "layout/nav";
@use "layout/footer";

// --- Pages ---
@use "pages/hero";
@use "pages/about";
@use "pages/experience";
@use "pages/skills";
