// --- Base ---
@import "base/variables";
@import "base/base";
@import "base/sections";

// --- Utilities ---
@import "utils/utilities";

// --- Components ---
@import "components/buttons";

// --- Layout ---
@import "layout/container";
@import "layout/nav";
@import "layout/footer";

// --- Pages ---
@import "pages/hero";
@import "pages/about";
@import "pages/experience";
@import "pages/skills";
